$header_bgcolor: #fff;
$services_icon_bgcolor:#fdb44b;
$write_color:#999999;
$priceFood_bgcolor:#000;
$price_color:#fdb44b;
$swiper_h6_color:#cccccc;
$swiper_p_color:#000;
$btn_border_and_write_color:#fdb44b;
$btn_border_and_bgcolor_hover:#fec97d;
$a_bootom_line_color:#fdb44b;
$footer_input_bgcolor:#495057;